{% extends 'base.html' %}
{% load static %}
{% block content %}


    <br>
    <br>
    <br>
    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-2 mb-4">SF6 CO2eq <br class="d-none d-md-inline">Emissions</h1>
                    <p class="lead mb-4 text-muted">
                        SF6, Sulfur Hexafluoride, is a gas with a global warming potential thousands of times greater
                        than that of CO2, making its management in industrial applications crucial for environmental
                        protection. Our platform is at the forefront of tracking and reducing SF6 emissions, offering
                        precise measurement and comprehensive reporting tools that assist companies in understanding and
                        minimizing their environmental impact.
                    </p>
                    <a href="{% url 'charts' %}" class="btn btn-tertiary me-3 animate-up-2">Detailed Charts <span
                            class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center"><img
                        src="../../assets/img/illustrations/about-illustration.svg" alt=""></div>
            </div>
        </div>
    </section>


    {% if not sf6_emissions %}
        <section class="section section-lg">
            <div class="container">
                <H4>No SF6 Emissions registered.<br><br>Click the 'Add' button bellow to add SF6 emissions or 'Upload data' button if you have excel
                    files containing SF6 emissions data</H4>
                <br>
                <a href="{% url 'create_sf6_emissions' %}" class="btn btn-tertiary animate-up-2">
                    Add
                </a>
                <a href="{% url 'upload_sf6_data' %}" class="btn btn-tertiary animate-up-2">
                    Upload Data
                </a>

            </div>
            <br>
            <br>
            <div class="container">
                <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>
            </div>
        </section>

    {% else %}

        <section class="section-header">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <div class="form-control">
                            <form method="get"
                                  class="w-100 d-flex flex-column flex-md-row align-items-center justify-content-between">
                                {% for field in filter.form %}
                                    <div class="mb-2 mb-md-0">
                                        {{ field.label_tag }} {{ field }}
                                    </div>
                                {% endfor %}
                                <div class="mt-3 mt-md-0">
                                    <button type="submit" class="btn mb-2 mr-2 btn-pill btn-outline-primary">Filter
                                    </button>
                                </div>
                                <div class="mt-3 mt-md-0">
                                </div>
                            </form>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Company</th>
                                <th scope="col">Year</th>
                                <th scope="col">Month</th>
                                <th scope="col">Emission</th>
                                <th scope="col">Equipment</th>
                                <th scope="col">Manufacturer</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">CO2e</th>
                                  {% if user.is_staff %}
                                    <th scope="col">Submitter</th>
                                {% endif %}
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sf6 in sf6_emissions %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            {{ sf6.company }}<span
                                                class="badge badge-primary ml-2"
                                                style="color:#0b5ed7;">{{ sf6.emission_scope }}</span>
                                        </div>
                                    </td>
                                    <td>{{ sf6.year }}</td>
                                    <td>{{ sf6.month }}</td>
                                    <td>{{ sf6.emission_type }}</td>
                                    <td>{{ sf6.equipment_type }}</td>
                                    <td>{{ sf6.equipment_producer }}</td>
                                    <td>{{ sf6.sf6_quantity }}</td>
                                    <td>{{ sf6.co2e_for_sf6_emission }}</td>
                                    {% if user.is_staff %}
                                        <td>{{ sf6.profile.user }}</td>
                                    {% endif %}
                                    <td>
                                        <div class="d-flex">
                                            <a href="{% url 'update_sf6_emissions' sf6.id %}" class="mr-3"
                                               data-toggle="tooltip" data-placement="top" title="Edit item">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{% url 'delete_sf6_emissions' sf6.id %}" class="text-danger">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                               <a href="{% url 'create_sf6_emissions' %}" class="text-danger">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}
                              <tr class="table-primary">
                                {% if user.is_staff %}
                                <th scope="row" colspan="10" class="text-right">Total CO2e:</th>
                                 {% else %}
                                     <th scope="row" colspan="9" class="text-right">Total CO2e:</th>
                                 {% endif %}
                                <td>{{ total_co2 }} </td>
                            </tr>
                            </tbody>
                        </table>
                        {% include 'paginator.html' with page_obj=sf6_emissions %}
                        <div class="text-center">
                            <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span
                                    class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>
                            <a href="{% url 'sf6_report' %}?{{ request.GET.urlencode }}"
                               class="btn btn-tertiary animate-up-2">
                                Download Report
                            </a>
                            <a href="{% url 'upload_sf6_data' %}" class="btn btn-tertiary animate-up-2">
                                Upload Data
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock content %}