<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chart_title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>

        .chart-container {
            position: relative;
            margin: auto;
            height: 40vh;
            width: 80vw;
        }
    </style>
</head>
<body>

<h2>{{ chart_title }}</h2>
<div class="chart-container">
    <canvas id="emissionsChart"></canvas>
</div>

<script>
    const ctx = document.getElementById('emissionsChart').getContext('2d');
    const chartData = {
        labels: {{ years|safe }},
        datasets: []
    };

    const colors = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ];
    const borderColors = [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ];


    const emissionsData = {{ data|safe }};
    let colorIndex = 0;
    for (const [company, emissions] of Object.entries(emissionsData)) {
        chartData.datasets.push({
            label: company,
            data: emissions,
            backgroundColor: colors[colorIndex % colors.length],
            borderColor: borderColors[colorIndex % borderColors.length],
            borderWidth: 1
        });
        colorIndex++;
    }

    new Chart(ctx, {
        type: 'bar', // Or 'line' for line chart
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'CO2eq',
                        font: {
                            size: 16
                        }
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Emissions Over Years'
                }
            }
        }
    });
</script>

</body>
</html>
