{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Emissions Graph for {{ company.name }}</h1>
    <p>Total CO2 Emissions: {{ total_co2e }} units</p>


    <canvas id="co2EmissionsChart" width="400" height="400"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('co2EmissionsChart').getContext('2d');
        var co2EmissionsChart = new Chart(ctx, {
            type: 'bar', // Change to 'line' or other types as needed
            data: {
                labels: ['Total CO2 Emissions'], // Adjust based on your data
                datasets: [{
                    label: 'CO2 Emissions for {{ company.name }}',
                    data: [{{ total_co2e|safe }}], // Wrap total_co2e in an array
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>
{% endblock %}
