{% extends 'base.html' %}
{% load static %}
{% block content %}


    <br>
    <br>
    <br>
    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-2 mb-4">Total GHG  <br class="d-none d-md-inline">Emissions</h1>
                    <p class="lead mb-4 text-muted">
                    <p>Click on a company name to see detailed information about GHG emissions, including each year Net
                    Zero Targets.</p>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center"><img
                        src="" alt=""></div>
            </div>
        </div>
    </section>

    <section class="section section-lg">
        <div class="container">
            <div class="row mb-5 mb-lg-6">
                {% for company in companies_list %}
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <a href="{% url 'single_company' company.id %}" class="card-link">
                            <div class="card shadow border-gray-300">
                                <img src="{% static 'images/default-image.jpg' %}" class="card-img-top rounded-top"
                                     alt="Pillar">

                                <div class="card-body">
                                    <h3 class="h4 card-title mb-2" style="color:green;">{{ company.name }}</h3>
                                    <h3 class="h4 card-title mb-2" style="color: #0b5ed7">{{ company.country }}</h3>
                                    <span class="card-subtitle text-gray fw-normal">{{ company.address }}</span>
                                    <br>
                                    <br>
                                    <h4>{{ action.description }}</h4>
                                    <p class="card-text my-3">Phone: {{ company.phone }}</p>
                                    <p class="card-text my-3">Email: {{ company.email }}</p>

                                    <ul class="list-unstyled d-flex mt-3 mb-0">
                                        <li style="margin-right: 10px;">
                                            <a href="{% url 'update_company' company.id %}" class="mr-3"
                                               data-toggle="tooltip" data-placement="top" title="Edit item">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </li>
                                        <li style="margin-right: 10px;">
                                            <a href="{% url 'delete_company' company.id %}" class="text-danger">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </li>
                                        <li style="margin-right: 10px;">
                                            <a href="{% url 'create_company' %}" class="text-danger">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </a>
                    </div>
                {% endfor %}
            </div>
        <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>
        </div>
    </section>


{% endblock content %}