{% extends 'base.html' %}
{% load static %}
{% block content %}

  <section class="section section-md">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-6 mb-5">
                    <img class="organic-radius img-fluid" src="{% static 'images/esg_starter.png' %}"
                         alt="Main Logo">
                </div>
                <div class="col-md-6 col-xl-5 text-center text-md-left">
                    <h2 class="h1 mb-5">All challenges accepted.</h2>
                    <p class="lead">At IntelliESG, we understand the complexities of navigating ESG criteria. Our tools
                        and resources are designed to tackle the most daunting challenges head-on, ensuring that your
                        organization not only meets but exceeds all regulatory and voluntary ESG standards.</p>

                    <img src="" alt="signature" class="mt-4" width="150">
                </div>
            </div>
        </div>
    </section>



 <section class="section section-lg bg-gray-200">
        <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
            <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
                 style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
        </figure>
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2 class="h1 fw-light"><span class="fw-bold">Quick</span> start</h2>
                </div>
            </div>
            <div class="row justify-content-center mt-6">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <div class="timeline timeline-one dark px-3 px-sm-0">
                            <!-- Timeline Item 1 -->
                            <div class="timeline-item">
                                <h2>Step 1 </h2>
                                <h3 class="h4 mb-4">Register a Company</h3>
                                <p>To begin your journey with IntelliESG, start by registering your company. This
                                    initial step unlocks access to our comprehensive suite of tools designed to
                                    streamline your ESG reporting, strategy planning, and performance tracking
                                    processes.</p>
                                <a href="{% url 'create_company' %}" class="btn btn-primary">Register</a>
                            </div>
                            <!-- Timeline Item 2 -->
                            <div class="timeline-item">
                                <h2>Step 2 </h2>
                                <h3 class="h4 mb-4">Set your Net Zero Targets</h3>

                                <p>Setting ambitious yet achievable Net Zero targets is crucial in today’s ESG
                                    landscape. IntelliESG facilitates this by providing a robust framework to define,
                                    manage, and track your carbon neutrality goals, ensuring they align with global
                                    standards.</p>
                                <a href="{% url 'create_target' %}" class="btn btn-primary">Add Target</a>
                            </div>
                            <!-- Timeline Item 3 -->
                            <div class="timeline-item">
                                <h2>Step 3 </h2>
                                <h3 class="h4 mb-4">Fill out GHG Forms</h3>
                                <p>Our platform simplifies the complex process of greenhouse gas (GHG) reporting. With
                                    our user-friendly forms and templates, you can accurately report your emissions,
                                    making compliance with GHG protocols both straightforward and efficient.</p>
                                <a href="{% url 'nav_forms_emissions' %}" class="btn btn-primary">Fill GHG forms</a>

                            </div>
                            <!-- Timeline Item 4 -->
                            <div class="timeline-item">
                                <h2>Step 4 </h2>
                                <h3 class="h4 mb-4">Define your ESG Pillars</h3>

                                <p>Setting ambitious yet achievable Net Zero targets is crucial in today’s ESG
                                    landscape. IntelliESG facilitates this by providing a robust framework to define,
                                    manage, and track your carbon neutrality goals, ensuring they align with global
                                    standards.</p>
                                <a href="{% url 'create_pillar' %}" class="btn btn-primary">Create</a>
                            </div>
                            <!-- Timeline Item 5 -->
                            <div class="timeline-item">
                                <h2>Step 5 </h2>
                                <h3 class="h4 mb-4">Set up each pillar's objectives</h3>
                                <p>To begin your journey with IntelliESG, start by registering your company. This
                                    initial step unlocks access to our comprehensive suite of tools designed to
                                    streamline your ESG reporting, strategy planning, and performance tracking
                                    processes.</p>
                                <a href="{% url 'create_objective' %}" class="btn btn-primary">Add Objective</a>
                            </div>

                            <!-- Timeline Item 6 -->
                            <div class="timeline-item">
                                <h2>Step6 </h2>
                                <h3 class="h4 mb-4">Define your Action Plan</h3>

                                <p>Setting ambitious yet achievable Net Zero targets is crucial in today’s ESG
                                    landscape. IntelliESG facilitates this by providing a robust framework to define,
                                    manage, and track your carbon neutrality goals, ensuring they align with global
                                    standards.</p>
                                <a href="{% url 'create_action_plan' %}" class="btn btn-primary">Create</a>
                            </div>


                            <!-- Timeline Item 7 -->
                            <div class="timeline-item">
                                <h2>Step 7 </h2>
                                <h3 class="h4 mb-4">Add your actions needed to achieve the objective</h3>
                                <p>Our platform simplifies the complex process of greenhouse gas (GHG) reporting. With
                                    our user-friendly forms and templates, you can accurately report your emissions,
                                    making compliance with GHG protocols both straightforward and efficient.</p>
                                <a href="{% url 'create_action' %}" class="btn btn-primary">Add action</a>

                            </div>
                            <!-- Timeline Ite8 -->
                            <div class="timeline-item">
                                <h3 class="h4 mb-4">Check your progress</h3>
                                <img class="mt-2" src="{% static 'images/target-marketing-goal-svgrepo-com.svg' %}"
                                     alt="signature" width="100">
                                <p>Monitoring progress towards your ESG goals is key to ensuring success. IntelliESG’s
                                    dashboard provides real-time insights into your performance, allowing you to make
                                    informed decisions and adjust strategies as needed to meet your targets.</p>
                                <a href="{% url 'companies_list' %}" class="btn btn-primary">View progress</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>
        </div>
        <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
            <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
                 style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
        </figure>
    </section>


{% endblock content %}