{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="section-header">
        <div class="container">
            <div class="row justify-content-center">
                <h2 align="left">Total GHG emissions (CO2e) by Year</h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Year</th>
                        <th scope="col">Fuel (kg CO2e)</th>
                        <th scope="col">Natural Gas (kg CO2e)</th>
                        <th scope="col">Refrigerant (kg CO2e)</th>
                        <th scope="col">SF6 (kg CO2e)</th>
                        <th scope="col">Travel (kg CO2e)</th>
                        <th scope="col">Energy (kg CO2e)</th>
                        <th scope="col">Waste (kg CO2e)</th>
                        <th scope="col">Total (kg CO2e)</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in emissions_data %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.year }}</td>
                            <td>{{ item.fuel|default:"0" }}</td>
                            <td>{{ item.naturalgas|default:"0" }}</td>
                            <td>{{ item.refrigerant|default:"0" }}</td>
                            <td>{{ item.sf6|default:"0" }}</td>
                            <td>{{ item.travel|default:"0" }}</td>
                            <td>{{ item.energy|default:"0" }}</td>
                            <td>{{ item.waste|default:"0" }}</td>
                            <td>{{ item.total|default:"0" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </section>




{% endblock content %}