{% extends 'base.html' %}
{% load static %}
{% block content %}



    <br>
    <br>
    <br>
    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-2 mb-4">Refrigerant CO2eq <br class="d-none d-md-inline">Emissions</h1>
                    <p class="lead mb-4 text-muted">
                        Refrigerants play a crucial role in our daily lives, from air conditioning to refrigeration.
                        However, their environmental impact, particularly in terms of CO2 equivalent emissions, cannot
                        be overlooked. Our platform specializes in the meticulous tracking and reporting of these
                        emissions, providing vital data for companies aiming to minimize their environmental footprint
                        and adhere to global sustainability standards.
                    </p>
                    <a href="{% url 'charts' %}" class="btn btn-tertiary me-3 animate-up-2">Detailed Charts <span
                            class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center"><img
                        src="../../assets/img/illustrations/about-illustration.svg" alt=""></div>
            </div>
        </div>
    </section>

    {% if not refrigerants_emissions %}
        <section class="section section-lg">
            <div class="container">
                <H4>No Refrigerant Emissions registered.<br><br>Click the 'Add' button bellow to add refrigerant
                    emissions or 'Upload data' button if you have excel
                    files containing refrigerant emissions data</H4>
                <br>
                <a href="{% url 'create_refrigerant_emissions' %}" class="btn btn-tertiary animate-up-2">
                    Add
                </a>
                <a href="{% url 'upload_refrigerant_data' %}" class="btn btn-tertiary animate-up-2">
                    Upload Data
                </a>
            </div>
            <br>
            <br>
            <div class="container">
                <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>
            </div>
        </section>

    {% else %}

        <section class="section-header">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <div class="form-control">
                            <form method="get"
                                  class="w-100 d-flex flex-column flex-md-row align-items-center justify-content-between">
                                {% for field in filter.form %}
                                    <div class="mb-2 mb-md-0">
                                        {{ field.label_tag }} {{ field }}
                                    </div>
                                {% endfor %}
                                <div class="mt-3 mt-md-0">
                                    <button type="submit" class="btn mb-2 mr-2 btn-pill btn-outline-primary">Filter
                                    </button>
                                </div>
                                <div class="mt-3 mt-md-0">
                                </div>
                            </form>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Company</th>
                                <th scope="col">Year</th>
                                <th scope="col">Month</th>
                                <th scope="col">Emission</th>
                                <th scope="col">Refrigerant</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">CO2e</th>
                                {% if user.is_staff %}
                                    <th scope="col">Submitter</th>
                                {% endif %}
                                <th scope="col">Actions</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for refrigerant in refrigerants_emissions %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            {{ refrigerant.company }}<span
                                                class="badge badge-primary ml-2 "
                                                style="color:#0b5ed7;">{{ refrigerant.emission_scope }}</span>
                                        </div>
                                    </td>
                                    <td>{{ refrigerant.year }}</td>
                                    <td>{{ refrigerant.month }}</td>
                                    <td>{{ refrigerant.emission_type }}</td>
                                    <td>{{ refrigerant.refrigerant_type }}</td>
                                    <td>{{ refrigerant.quantity }}</td>
                                    <td>{{ refrigerant.calculate_emissions  }}</td>
                                    {% if user.is_staff %}
                                        <td>{{ refrigerant.profile.user }}</td>
                                    {% endif %}
                                    <td>
                                        <div class="d-flex">
                                            <a href="{% url 'update_refrigerant_emissions' refrigerant.id %}"
                                               class="mr-3"
                                               data-toggle="tooltip" data-placement="top" title="Edit item">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{% url 'delete_refrigerant_emissions' refrigerant.id %}"
                                               class="text-danger">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                              <a href="{% url 'create_refrigerant_emissions' %}" class="text-danger">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}
                            <tr class="table-primary">
                                {% if user.is_staff %}
                                    <th scope="row" colspan="9" class="text-right">Total CO2e:</th>
                                {% else %}
                                    <th scope="row" colspan="8" class="text-right">Total CO2e:</th>
                                {% endif %}
                                <td>{{ total_co2 }} </td>
                            </tr>
                            </tbody>
                        </table>
                        {% include 'paginator.html' with page_obj=refrigerants %}
                        <div class="text-center">
                            <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span
                                    class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>
                            <a href="{% url 'refrigerant_report' %}?{{ request.GET.urlencode }}"
                               class="btn btn-tertiary animate-up-2">
                                Download Report
                            </a>
                            <a href="{% url 'upload_refrigerant_data' %}" class="btn btn-tertiary animate-up-2">
                                Upload Data
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}



{% endblock content %}