{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1 class="display-2 mb-3">Profiles</h1>
                <p>All profiles</p>
            </div>
        </div>
        <!-- Profiles Row -->
        <div class="row justify-content-center">
            {% for profile in profiles %}
                <!-- Profile Card -->
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="card border-light">
                        <div class="profile-image text-center">
                            {% if profile.profile_image %}
                                <img src="{{ profile.profile_image.url }}"
                                     alt="{{ profile.user.username }}'s profile picture" class="img-fluid">
                            {% else %}
                                <img src="{% static 'images/user-default.png' %}"
                                     alt="Default profile picture" class="img-fluid">
                            {% endif %}
                        </div>
                        <div class="card-body">
                             <h2><a href="{% url 'profile' profile.id %}">{{ profile.name }}</a></h2>
                            <span class="h6 icon-tertiary small"><i class="fas fa-medal mr-2"></i>Awards</span>
                            <p class="card-text">

                            <p><strong>Job Title:</strong> {{ profile.job_title }}</p>
                            <p><strong>Location:</strong> {{ profile.location }}</p>
                            <p><strong>Member since:</strong> {{ profile.created|date:"F d, Y" }}</p>

                            {% if request.user == profile.user %}
                            <div class="action-buttons">
                                <a href="{% url 'update_profile' profile.id %}" class="btn btn-primary">Edit Profile</a>
                                <a href="{% url 'delete_profile' profile.id %}" class="btn btn-danger"
                                   onclick="return confirm('Are you sure you want to delete this profile?');">Delete Profile</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /Profile Card -->
            {% endfor %}
        </div>
        <!-- /Profiles Row -->
    </div>
</section>

{% endblock content %}
