{% extends 'base.html' %}
{% load static %}

{% block content %}

    <br>
    <br>
    <br>
    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-2 mb-4">ESG Strategy <br class="d-none d-md-inline"></h1>
                    <p class="lead mb-4 text-muted">
                        In the quest for sustainability
                    </p>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center"><img src=" " alt=""></div>
            </div>
        </div>
    </section>

    {% if not strategies %}
     <section class="section section-lg">
            <div class="container">
                <H4>No strategy available.<br>Click the  'add'  button  bellow to add a strategy.</H4>
                <a href="{% url 'create_strategy' %}" class="btn btn-tertiary animate-up-2">
                        Add
                    </a>
            </div>
            <br>
            <br>
            <div class="container">
            <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>
            </div>
        </section>

    {% else %}
    <section class="section section-lg">
        <div class="container">
            <div class="row mb-5 mb-lg-6">
                {% for strategy in strategies %}
                    <div class="col-12 col-md-6 col-lg-4 mb-5 ">
                    <a href="{% url 'strategy' strategy.id %}" class="card-link">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'images/default-image.jpg' %}" class="card-img-top rounded-top"
                                 alt="Pillar">

                            <div class="card-body">
                                <h3 class="h4 card-title mb-2">ESG Strategy {{ strategy.company }}</h3>
                                <span class="card-subtitle text-gray fw-normal">{{ strategy.introduction }}</span>
                                <ul class="list-unstyled d-flex mt-3 mb-0">
                                    <li style="margin-right: 10px;">
                                        <a href="{% url 'update_strategy' strategy.id %}" class="mr-3"
                                           data-toggle="tooltip" data-placement="top" title="Edit item">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </li>
                                    <li style="margin-right: 10px;">
                                        <a href="{% url 'delete_strategy' strategy.id %}" class="text-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </li>
                                    <li style="margin-right: 10px;">
                                        <a href="{% url 'create_strategy' %}" class="text-danger">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>
        </div>
    </section>
    {% endif %}

{% endblock content %}