{% extends 'base.html' %}
{% load static %}
{% block content %}

    <br>
    <br>
    <br>
    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-2 mb-4">ESG<br class="d-none d-md-inline">Pillars</h1>
                    <p class="lead mb-4 text-muted">
                        Some placeholder here </p>
                    <a href="./services.html" class="btn btn-tertiary me-3 animate-up-2">What we do <span class="ms-2">
                            <span class="fas fa-arrow-right"></span></span></a>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center"><img
                        src="../../assets/img/illustrations/about-illustration.svg" alt=""></div>
            </div>
        </div>
    </section>

    <div class="section section-lg bg-primary-app">
        <div class="container">
            <div class="row justify-content-center">

            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="card bg-white border-gray-300">
                        <div class="border-bottom px-4 py-5">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-3 pb-3 pb-md-0">
                                    <h2 class="h5">Pillars</h2>
                                </div>
                                <div class="col-md-5 pb-2 pb-md-0">
                                    <h3 class="h5 mb-3">F01-Set Up Pillars </h3>
                                    <p class="mb-0">Fill in Pillars.</p>
                                </div>
                                <div class="col-md-4 text-md-right">
                                    <span class="badge bg-primary">Pillar</span>
                                    <div class="d-inline-block w-100 mt-2">
                                        <a href="{% url 'create_pillar' %}"
                                           class="btn mb-2 mr-2 btn-sm btn-outline-primary" role="button">Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}