{% extends 'base.html' %}
{% load static %}
{% block content %}

    <br>
    <br>
    <br>
    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-2 mb-4">Employees<br class="d-none d-md-inline">Contracts</h1>
                    <p class="lead mb-4 text-muted">
                        Some placeholder here
                    </p>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center"><img src=" " alt=""></div>
            </div>
        </div>
    </section>


    {% if not contracts %}
        <section class="section section-lg">
            <div class="container">
                <H4>No contracts data registered.<br>
                    <br>Click the 'Add' button bellow to add contracts data </H4>
                <br>
                <a href="{% url 'create_contract' %}" class="btn btn-tertiary animate-up-2">
                    Add
                </a>

            </div>
            <br>
            <br>
            <div class="container">
                <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>

            </div>
        </section>

    {% else %}

        <section class="section-header">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <div class="form-control">
                            <form method="get"
                                  class="w-100 d-flex flex-column flex-md-row align-items-center justify-content-between">
                                {% for field in filter.form %}
                                    <div class="mb-2 mb-md-0">
                                        {{ field.label_tag }} {{ field }}
                                    </div>
                                {% endfor %}

                                <button type="submit" class="btn mb-2 mr-2 btn-pill btn-outline-primary">Filter</button>
                            </form>
                        </div>
                        <br>
                        <h2 align="left" style="color: blue">A.Employees full time contracts</h2>
                        <br>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Company</th>
                                <th scope="col">Year</th>
                                <th scope="col">County</th>
                                <th scope="col">Women</th>
                                <th scope="col">Men</th>
                                <th scope="col">Total</th>
                                {% if user.is_staff %}
                                    <th scope="col">Submitter</th>
                                {% endif %}
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contract in contracts %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        {{ contract.company }}
                                    </td>
                                    <td>{{ contract.year }}</td>
                                    <td>{{ contract.county }}</td>
                                    <td>{{ contract.full_time_women }}</td>
                                    <td>{{ contract.full_time_men }}</td>
                                    <td>{{ contract.get_total_full_time_contracts }}</td>
                                    {% if user.is_staff %}
                                        <td>{{ contract.profile.user }}</td>

                                    {% endif %}
                                    <td>

                                        <div class="d-flex">
                                            <a href="{% url 'update_contract' contract.id %}" class="mr-3"
                                               data-toggle="tooltip" data-placement="top" title="Edit item">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{% url 'delete_contract' contract.id %}" class="text-danger"
                                            >
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            <a href="{% url 'create_contract' %}" class="text-danger">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>

                                    </td>

                                </tr>
                            {% endfor %}
                            <tr class="table-primary">
                                {% if user.is_staff %}
                                    <th scope="row" colspan="9" class="text-right">Total full-time contracts:</th>
                                {% else %}
                                    <th scope="row" colspan="8" class="text-right">Total full-time contracts:</th>
                                {% endif %}
                                <td>{{ full_time_contracts_display }} </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <h2 align="left" style="color: darkgreen">B.Employees fixed time contracts</h2>
                        <br>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Company</th>
                                <th scope="col">Year</th>
                                <th scope="col">County</th>
                                <th scope="col">Women</th>
                                <th scope="col">Men</th>
                                <th scope="col">Total</th>
                                {% if user.is_staff %}
                                    <th scope="col">Submitter</th>
                                {% endif %}
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contract in contracts %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        {{ contract.company }}
                                    </td>
                                    <td>{{ contract.year }}</td>
                                    <td>{{ contract.county }}</td>
                                    <td>{{ contract.fixed_term_contract_women }}</td>
                                    <td>{{ contract.fixed_term_contract_men }}</td>
                                    <td>{{ contract.get_total_fixed_term_contracts }}</td>
                                    {% if user.is_staff %}
                                        <td>{{ contract.profile.user }}</td>

                                    {% endif %}
                                    <td>

                                        <div class="d-flex">
                                            <a href="{% url 'update_contract' contract.id %}" class="mr-3"
                                               data-toggle="tooltip" data-placement="top" title="Edit item">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{% url 'delete_contract' contract.id %}" class="text-danger"
                                            >
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            <a href="{% url 'create_contract' %}" class="text-danger">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>

                                    </td>

                                </tr>
                            {% endfor %}
                            <tr class="table-primary">
                                {% if user.is_staff %}
                                    <th scope="row" colspan="9" class="text-right">Total fixed-term contracts:</th>
                                {% else %}
                                    <th scope="row" colspan="8" class="text-right">Total fixed-term contracts:</th>
                                {% endif %}
                                <td>{{ fixed_term_contracts_display }} </td>
                            </tr>
                            </tbody>
                        </table>
                        <h2 align="left" style="color: darkred">C.Employees part-time contracts</h2>
                        <br>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Company</th>
                                <th scope="col">Year</th>
                                <th scope="col">County</th>
                                <th scope="col">Women</th>
                                <th scope="col">Men</th>
                                <th scope="col">Total</th>
                                {% if user.is_staff %}
                                    <th scope="col">Submitter</th>
                                {% endif %}
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contract in contracts %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        {{ contract.company }}
                                    </td>
                                    <td>{{ contract.year }}</td>
                                    <td>{{ contract.county }}</td>
                                    <td>{{ contract.part_time_women }}</td>
                                    <td>{{ contract.part_time_men }}</td>
                                    <td>{{ contract.get_total_part_time_contracts }}</td>
                                    {% if user.is_staff %}
                                        <td>{{ contract.profile.user }}</td>

                                    {% endif %}
                                    <td>

                                        <div class="d-flex">
                                            <a href="{% url 'update_contract' contract.id %}" class="mr-3"
                                               data-toggle="tooltip" data-placement="top" title="Edit item">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{% url 'delete_contract' contract.id %}" class="text-danger"
                                            >
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            <a href="{% url 'create_contract' %}" class="text-danger">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>

                                    </td>

                                </tr>
                            {% endfor %}
                            <tr class="table-primary">
                                {% if user.is_staff %}
                                    <th scope="row" colspan="9" class="text-right">Total part-time contracts:</th>
                                {% else %}
                                    <th scope="row" colspan="8" class="text-right">Total part-time contracts:</th>
                                {% endif %}
                                <td>{{ part_time_contracts_display }} </td>
                            </tr>
                            </tbody>
                        </table>

                        <h3 align="left" style="color: black">Total contracts :
                            <b>{{ total_contracts_display }} </b></h3>


                        {% include 'paginator.html' with page_obj=fuel_emissions %}
                        <div class="text-left">
                            <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2"> <span
                                    class="ms-2">
                            <span class="fas fa-arrow-left"></span></span></a>
                            <a href="{% url 'soc_export_pdf' %}?{{ request.GET.urlencode }}"
                               class="btn btn-tertiary animate-up-2">
                                Download Report
                            </a>
                        </div>
                        <br>
                    </div>

                </div>
            </div>
        </section>
    {% endif %}





{% endblock content %}