{% load static %}
{% block content %}


    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation"
             class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-theme-secondary">
            <div class="container position-relative">
            {% block navbar-brand %}
                <a class="navbar-brand me-lg-5" href="{% url 'home' %}">
                    <img class="navbar-brand-dark" src="{% static 'images/logo-esg.png' %}"
                         alt="Logo light">
                    <img class="navbar-brand-light" src="{% static 'images/logo-esg.png' %}"
                         alt="Logo dark">
                </a>
                {% endblock  %}
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="{% url 'home' %} ">
                                    <img src="{% static 'uikit/assets/img/brand/dark.svg' %}" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse"
                                   data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                   title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                            <li class="nav-item">

                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="overviewdDropdown"
                                   aria-expanded="false"
                                   data-bs-toggle="dropdown">
                                    Dashboard
                                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                                </a>
                                <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4"
                                     aria-labelledby="overviewdDropdown">
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">Overview</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'fuel_emissions' %}">Performance
                                                        Summary </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'refrigerant_emissions' %}">Recent
                                                        Updates
                                                    </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'sf6_emissions' %}">Alerts and
                                                        Notifications </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="dashboardDropdown"
                                   aria-expanded="false"
                                   data-bs-toggle="dropdown" >
                                    Environment
                                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                                </a>
                                <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4"
                                     aria-labelledby="dashboardDropdown">
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">Emissions Detail</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'fuel_emissions' %}">Fuel </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'gas_emissions' %}">Natural Gas </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'refrigerant_emissions' %}">Refrigerant
                                                    </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'sf6_emissions' %}">SF6 </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'travels' %}">Travel </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'energy_acquisitions' %}">Energy
                                                    </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'wastes' %}">Waste </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">Energy Sources</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link"
                                                       href="{% url 'fuel_emissions' %}">Renewable </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'refrigerant_emissions' %}">Non-Renewable
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">GHG Targets</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link"
                                                       href="{% url 'targets' %}">Targets </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'refrigerant_emissions' %}">Non-Renewable
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="newDashboardDropdown"
                                   aria-expanded="false"
                                   data-bs-toggle="dropdown" >
                                    Social
                                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                                </a>
                                <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4"
                                     aria-labelledby="newDashboardDropdown">
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">Employee Engagement Survey</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="">Feature 1
                                                    </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="">Feature 2
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">Diversity Metrics</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link"
                                                       href="{% url 'fuel_emissions' %}">Feature 1 </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'refrigerant_emissions' %}">Feature
                                                        2
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">Community Programs</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link"
                                                       href="{% url 'fuel_emissions' %}">Feature 1 </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="{% url 'refrigerant_emissions' %}">Feature
                                                        2
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="govDashboardDropdown"
                                   aria-expanded="false"
                                   data-bs-toggle="dropdown" >
                                    Governance
                                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                                </a>
                                <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4"
                                     aria-labelledby="govDashboardDropdown">
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">Policy Updates</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="">Feature 1
                                                    </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="">Feature 2
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">Compliance Checklist</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="">Feature 1
                                                    </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="">Feature 2
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="d-block mb-3 text-primary">Ethics Violations</h6>
                                            <ul class="list-style-none mb-4">
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="">Feature 1
                                                    </a>
                                                </li>
                                                <li class="mb-2 megamenu-item">
                                                    <a class="megamenu-link" href="">Feature 2
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                   id="formsDropdown"
                                   aria-expanded="false">
                                    Forms
                                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="formsDropdown">
                                    <div class="col-auto px-0">
                                        <div class="list-group list-group-flush">
                                            <a href="{% url 'nav_forms' %}"
                                               class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm"><span class="fas fa-file-alt"></span></span>
                                                <div class="ms-4">
                                            <span class="d-block font-small fw-bold mb-0">Forms<span
                                                    class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                    <span class="small">Fill in ESG forms</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown" id="reportsDropdown"
                                   aria-expanded="false">
                                    Reports&Analytics
                                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="reportsDropdown">
                                    <div class="col-auto px-0">
                                        <div class="list-group list-group-flush">
                                            <a href="{% url 'companies_list' %}"
                                               class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm"><span class="fas fa-file-alt"></span></span>
                                                <div class="ms-4">
                                            <span class="d-block font-small fw-bold mb-0">R1-GHG Emissions<span
                                                    class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                    <span class="small">Total GHG emissions for each company</span>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown" id="graphsDropdown"
                                   aria-expanded="false">
                                    Charts
                                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="graphsDropdown">
                                    <div class="col-auto px-0">
                                        <div class="list-group list-group-flush">
                                            <a href="{% url 'charts' %}"
                                               class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm"><span class="fas fa-file-alt"></span></span>
                                                <div class="ms-4">
                                            <span class="d-block font-small fw-bold mb-0">Emissions Charts<span
                                                    class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                    <span class="small">All Emissions Charts</span>
                                                </div>
                                            </a>
                                        </div>

                                    </div>


                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="{% url 'logout' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                   id="accountDropdown"
                                   aria-expanded="false">
                                    Users
                                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="accountDropdown">
                                    <div class="col-auto px-0">
                                        <div class="list-group list-group-flush">
                                            <a href="{% url 'profiles' %}"
                                               class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <div class="ms-4">
                                                    <span class="d-block font-small fw-bold mb-0">Profiles<span
                                                    class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                                    <span class="small">List of all users profiles</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-auto px-0">
                                        <div class="list-group list-group-flush">
                                            <a href="{% url 'logout' %}"
                                               target="_blank"
                                               class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <div class="ms-4">
                                                    <form action="{% url 'logout' %}" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-primary">Logout</button>
                                                    </form>
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </li>

                        </ul>
                    {% else %}


                    {% endif %}
                </div>
            </div>
        </nav>
    </header>





{% endblock %}