{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-2 mb-4"><br>Welcome ! <br
                            class="d-none d-md-inline">{{ request.user.profile.name }}</h1>
                    <p class="lead mb-4 text-muted">
                        Dive into the future of sustainability with IntelliESG. Our platform empowers you to seamlessly
                        integrate and manage your ESG goals,
                        ensuring you not only keep up with the competition but set new benchmarks in
                        corporate responsibility
                        and environmental stewardship. Discover a world where sustainability meets efficiency.</p>

                    <a href="{% url 'quick_start' %}" class="btn btn-tertiary me-3 animate-up-2">Quick Start <span
                            class="ms-2"><span class="fas fa-arrow-right"></span></span></a>


                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center"><img
                        src="{% static 'images/logo-esg.png' %}" alt=""></div>
            </div>
        </div>
    </section>


    <section class="section section-lg">
        <div class="container">
            <div class="row mb-5 mb-lg-6">
                <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                    <h2 class="h1 mb-4">Our Framework for ESG Excellence</h2>
                    <p class="lead">Explore the core pillars of our ESG strategy, alongside our detailed action plans,
                        objectives, and ongoing actions, each crafted to drive meaningful impact.</p>
                </div>
            </div>

            <div class="row mb-5 mb-lg-6">
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <a href="{% url 'strategies' %}" class="card-link">
                        <div class="card h-100">
                            <img src="{% static 'images/strategy.jpg' %}" class="card-img-top rounded-top" alt="">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">ESG Strategy</h3>
                                <span class="card-subtitle text-gray fw-normal">Our Comprehensive Approach</span>
                                <p class="card-text my-3">Discover our overarching ESG strategy that integrates
                                    environmental, social, and governance principles into every aspect of our
                                    operations.</p>
                                <ul class="list-unstyled d-flex mt-auto">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link"
                                           class="icon-facebook me-3">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <a href="{% url 'pillars' %}" class="card-link">
                        <div class="card h-100">
                            <img src="{% static 'images/pillars_01.png' %}" class="card-img-top rounded-top" alt="">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">ESG Pillars</h3>
                                <span class="card-subtitle text-gray fw-normal">Foundational Elements</span>
                                <p class="card-text my-3">Learn about the fundamental pillars that support our ESG
                                    framework, including key focus areas and initiatives.</p>
                                <ul class="list-unstyled d-flex mt-auto">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link"
                                           class="icon-facebook me-3">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>



                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <a href="{% url 'action_plans' %}" class="card-link">
                        <div class="card h-100">
                            <img src="{% static 'images/action_plan_01.jpg' %}" class="card-img-top rounded-top" alt="">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">ESG Action Plans</h3>
                                <span class="card-subtitle text-gray fw-normal">Detailed Roadmaps</span>
                                <p class="card-text my-3">Explore our action plans that outline specific steps and
                                    initiatives designed to achieve our ESG goals.</p>
                                <ul class="list-unstyled d-flex mt-auto">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link"
                                           class="icon-facebook me-3">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>



                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <a href="{% url 'objectives' %}" class="card-link">
                        <div class="card h-100">
                            <img src="{% static 'images/objectives_01.jpg' %}" class="card-img-top rounded-top" alt="">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">ESG Objectives</h3>
                                <span class="card-subtitle text-gray fw-normal">Clear Goals & Metrics</span>
                                <p class="card-text my-3">A brief description of the performance metrics and outcomes
                                    related to your ESG strategies and objectives.</p>
                                <ul class="list-unstyled d-flex mt-auto">
                                    <li>
                                        <a href="#" target="_blank" aria-label="linkedin social link"
                                           class="icon-linkedin me-3">
                                            <span class="fab fa-linkedin-in"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="instagram social link"
                                           class="icon-instagram me-3">
                                            <span class="fab fa-instagram"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="twitter social link"
                                           class="icon-twitter me-3">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <a href="{% url 'actions' %}" class="card-link">
                        <div class="card h-100">
                            <img src="{% static 'images/action_01.jpg' %}" class="card-img-top rounded-top" alt="">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">ESG Actions</h3>
                                <span class="card-subtitle text-gray fw-normal">Ongoing Efforts</span>
                                <p class="card-text my-3">Stay updated on the ongoing actions and initiatives we are
                                    taking to continuously improve our ESG performance.</p>
                                <ul class="list-unstyled d-flex mt-auto">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link"
                                           class="icon-facebook me-3">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <a href="{% url 'esg_nav_risks_list' %}" class="card-link">
                        <div class="card h-100">
                            <img src="{% static 'images/egs-risk.png' %}" class="card-img-top rounded-top" alt="">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">ESG Risks</h3>
                                <span class="card-subtitle text-gray fw-normal">Mitigation & Management</span>
                                <p class="card-text my-3">Understand the potential risks associated with our ESG
                                    initiatives and the measures we are implementing to mitigate them.</p>
                                <ul class="list-unstyled d-flex mt-auto">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link"
                                           class="icon-facebook me-3">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


   <section class="section section-lg bg-gray-200">
    <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
        <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
             style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
               <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
            </svg>
    </figure>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h2 class="h1 fw-light"><span class="fw-bold">Greenhouse Gases</span> Management</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-6">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8">
                    <div class="timeline timeline-one dark px-3 px-sm-0">
                        <!-- Timeline Item 1 -->
                        <div class="timeline-item">
                            <h3 class="h4 mb-4">Net Zero Targets</h3>
                            <img class="mt-2" src="{% static 'images/target-marketing-goal-svgrepo-com.svg' %}"
                                 alt="net zero targets" width="100">
                            <p>Establishing and committing to Net Zero targets is essential for reducing our carbon footprint. Our framework helps you set realistic and impactful goals that contribute to global sustainability efforts.</p>
                            <a href="{% url 'targets' %}" class="btn btn-primary">View</a>
                        </div>
                        <!-- Timeline Item 2 -->
                        <div class="timeline-item">
                            <h3 class="h4 mb-4">Fuel Emissions</h3>
                            <p>Reducing fuel emissions is a critical component of our ESG strategy. We provide tools and resources to help you measure, manage, and minimize emissions from fuel consumption.</p>
                            <a href="{% url 'fuel_emissions' %}" class="btn btn-primary">View</a>
                        </div>
                        <!-- Timeline Item 3 -->
                        <div class="timeline-item">
                            <h3 class="h4 mb-4">Natural Gas Emissions</h3>
                            <p>Track and report emissions from natural gas usage with precision. Our platform offers detailed templates and guidelines to ensure accurate reporting and compliance with industry standards.</p>
                            <a href="{% url 'gas_emissions' %}" class="btn btn-primary">View</a>
                        </div>
                        <!-- Timeline Item 4 -->
                        <div class="timeline-item">
                            <h3 class="h4 mb-4">Refrigerant Emissions</h3>
                            <p>Effectively manage refrigerant emissions by utilizing our comprehensive tracking and management solutions, designed to help you meet regulatory requirements and reduce environmental impact.</p>
                            <a href="{% url 'refrigerant_emissions' %}" class="btn btn-primary">View</a>
                        </div>
                        <!-- Timeline Item 5 -->
                        <div class="timeline-item">
                            <h3 class="h4 mb-4">SF6 Emissions</h3>
                            <p>SF6 is a potent greenhouse gas. Our tools assist in monitoring and reducing SF6 emissions, helping your organization comply with environmental standards and reduce its carbon footprint.</p>
                            <a href="{% url 'sf6_emissions' %}" class="btn btn-primary">View</a>
                        </div>
                        <!-- Timeline Item 6 -->
                        <div class="timeline-item">
                            <h3 class="h4 mb-4">Energy Emissions</h3>
                            <p>Optimize your energy usage to minimize emissions. Our platform provides insights into energy consumption patterns and identifies opportunities for reducing emissions.</p>
                            <a href="{% url 'energy_acquisitions' %}" class="btn btn-primary">View</a>
                        </div>
                        <!-- Timeline Item 7 -->
                        <div class="timeline-item">
                            <h3 class="h4 mb-4">Travel Emissions</h3>
                            <p>Manage and offset emissions from corporate travel. We offer comprehensive solutions to track travel emissions and implement strategies to minimize their impact.</p>
                            <a href="{% url 'travels' %}" class="btn btn-primary">View</a>
                        </div>
                        <!-- Timeline Item 8 -->
                        <div class="timeline-item">
                            <h3 class="h4 mb-4">Waste Emissions</h3>
                            <p>Reduce emissions associated with waste through effective waste management strategies. Our tools help you track waste generation and implement practices to decrease waste-related emissions.</p>
                            <a href="{% url 'wastes' %}" class="btn btn-primary">View</a>
                        </div>
                        <!-- Timeline Item 9 -->
                        <div class="timeline-item">
                            <h3 class="h4 mb-4">Check Progress</h3>
                            <p>Monitoring progress towards your ESG goals is key to ensuring success. IntelliESG’s dashboard provides real-time insights into your performance, allowing you to make informed decisions and adjust strategies as needed.</p>
                            <a href="{% url 'companies_list' %}" class="btn btn-primary">Check Progress</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
        <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
             style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
               <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
            </svg>
    </figure>
</section>

{% endblock content %}
{% block extra_css %}
    <style>
        .card {
            display: flex;
            flex-direction: column;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .card-text {
            flex-grow: 1;
        }

        .card-img-top {
            height: 200px;
            object-fit: cover;
        }

        .list-unstyled {
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock extra_css %}
