{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="section-header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between mb-4">
                        <form method="get"
                              class="w-100 d-flex flex-column flex-md-row align-items-center justify-content-between">
                            {% for field in filter.form %}
                                <div class="mb-2 mb-md-0">
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            {% endfor %}
                            <div class="mt-3 mt-md-0">
                                <button type="submit" class="btn mb-2 mr-2 btn-pill btn-outline-primary">Filter</button>
                            </div>
                            <div class="mt-3 mt-md-0">
                                <button type="reset" class="btn mb-2 mr-2 btn-pill btn-outline-primary ">
                                    Clear
                                </button>
                            </div>
                        </form>
                    </div>
                    <h2 align="left">Travel Emissions (CO2e)</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Company</th>
                            <th scope="col">Emission</th>
                            <th scope="col">Origin</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Distance</th>
                            <th scope="col">Consumption</th>
                            <th scope="col">CO2e</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for travel in travels %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        {{ travel.company }}<span
                                            class="badge badge-primary ml-2" style="color:#0b5ed7;">{{ travel.emission_scope }}</span>
                                    </div>
                                </td>
                                <td>{{ travel.emission_type }}</td>
                                <td>{{ travel.origin }}</td>
                                <td>{{ travel.destination }}</td>
                                <td>{{ travel.distance }}</td>
                                <td>{{ travel.fuel_consumption }}</td>
                                <td>{{ travel.co2_for_distance_calculation }}</td>


                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'update_travel' travel.id %}" class="mr-3"
                                           data-toggle="tooltip" data-placement="top" title="Edit item">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'delete_travel' travel.id %}" class="text-danger"
                                           data-toggle="tooltip" data-placement="top" title="Delete item"
                                           onclick="return confirm('Are you sure you want to delete this item?');">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                        <tr class="table-primary">
                            <th scope="row" colspan="14" class="text-right">Total CO2e:</th>
                            <td>{{ total_co2 }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% include 'paginator.html' with page_obj=travels %}
                </div>
            </div>
        </div>
    </section>


<section class="section section-md">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <img class="organic-radius img-fluid" src="../../assets/img/sections/about-us-1.jpg" alt="Office Desk">
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h2 class="h1 mb-5">All challenges accepted.</h2>
                        <p class="lead">Themesberg is an experienced and passionate group of designers, developers, project managers, writers and artists. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories.</p>
                        <p class="lead">With a culture of collaboration, a roster of talent, and several office pooches, the Themesberg team is active in the creative community, endlessly interested in what’s next, and generally pleasant to be around.</p>
                        <img src="../../assets/img/signature.svg" alt="signature" class="mt-4" width="150">
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}