{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<section class="section-header bg-secondary text-white">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                <h1 class="display-2 mb-4">Taxonomy Sectors <br class="d-none d-md-inline"></h1>
                <p class="lead mb-4 text-muted">
                    Some placeholder here
                </p>
            </div>
            <div class="col-12 col-md-5 d-none d-md-block text-center"><img src=" " alt=""></div>
        </div>
    </div>
</section>

{% if not sectors %}
    <section class="section section-lg">
        <div class="container">
            <H4>No sectors available.<br>Click the 'add' button below to add a sector.</H4>
            <a href="{% url 'create_sector' %}" class="btn btn-tertiary animate-up-2">Add</a>
        </div>
        <br>
        <br>
        <div class="container">
            <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2">
                <span class="ms-2"><span class="fas fa-arrow-left"></span></span>
            </a>
        </div>
    </section>
{% else %}
    <section class="section section-lg">
        <div class="container">
            <div class="row mb-5 mb-lg-6">
                {% for sector in sectors %}
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300 h-100">
                            <img src="{% static 'images/default-image.jpg' %}" class="card-img-top rounded-top" alt="Sectors" style="height: 200px; object-fit: cover;">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">Sector: {{ sector.sector }}</h3>
                                <span class="card-subtitle text-gray fw-normal">Economic activity:{{ sector.activity }}</span>
                                <p class="card-text my-3">Nace Code: {{ sector.nace_code }}</p>
                                <h4 class="h4 card-title mb-2">Taxonomy {{ sector.type }}</h4>
                                <div class="mt-auto">
                                    <div class="text-left">
                                        <a href="{% url 'turnovers' %}" class="btn mb-2 mr-2 btn-sm btn-outline-primary">Turnover</a>
                                        <a href="{% url 'opexs' %}" class="btn mb-2 mr-2 btn-sm btn-outline-primary">OpEx</a>
                                        <a href="{% url 'capexs' %}" class="btn mb-2 mr-2 btn-sm btn-outline-primary">CapEx</a>
                                    </div>
                                    <ul class="list-unstyled d-flex mt-3 mb-0">
                                        <li style="margin-right: 10px;">
                                            <a href="{% url 'update_sector' sector.id %}" class="mr-3" data-toggle="tooltip" data-placement="top" title="Edit item">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </li>
                                        <li style="margin-right: 10px;">
                                            <a href="{% url 'delete_sector' sector.id %}" class="text-danger" >
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </li>
                                        <li style="margin-right: 10px;">
                                            <a href="{% url 'create_sector' %}" class="text-danger">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url 'starter' %}" class="btn btn-tertiary me-3 animate-up-2">
                <span class="ms-2"><span class="fas fa-arrow-left"></span></span>
            </a>
        </div>
    </section>
{% endif %}



{% endblock content %}
